.post{
    background: rgba(247, 240, 240, 0.7);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    color: white;
}
.post:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 5);
    background: rgba(247, 240, 240, 0.7);
    transform: scale(1.01);
}
.titulo{
    color: black;
    padding: 5px;
    font-weight: 700;
    background: rgba(99, 140, 202, 0.3);
    box-shadow: 0 0 30px rgba(99, 140, 202, 0.8);
}
.contenido{
    padding: 5px;
    border-radius: 10px;
    text-align: justify;
    margin-left: 20px;
    color: black;
    background: rgba(202, 99, 188, 0.3);
    box-shadow: 0 0 30px rgba(202, 99, 188, 0.8);
}
.comentarios{
    text-align: center;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    background: rgba(241, 42, 42, 0.5);
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    color: black;
}
.comentarios:hover{
    transform: scale3d(1.1, 1.1, 2);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
.usuario{
    width: 100%;
    text-align: right;
    color: #761d1d;
    background: url('https://mdn.mozillademos.org/files/12982/external-link-52.png') no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 20px;
}
.letreroPosts{
    color: black;
}